@{
    ViewBag.Title = "Index livro";
}

@model IList<BookReader.Models.Book>

<style>
    .modal-over {
        overflow-y: auto;
    }

    .pdfobject-container {
        height: 500px;
    }

    .form-horizontal .control-label {
        text-align: unset;
    }


    .btn-group btn-group-toggle {
        color: darkred;
    }

    .btn btn-secondary active {
        color: darkred;
    }

    .inputDnD .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 7em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
    }

        .inputDnD .form-control-file:before {
            content: attr(data-title);
            position: absolute;
            top: 0.5em;
            left: 0;
            width: 100%;
            min-height: 6em;
            line-height: 2em;
            padding-top: 1.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.25em dashed currentColor;
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
        }

        .inputDnD .form-control-file:hover:before {
            border-style: solid;
            box-shadow: inset 0px 0px 0px 0.25em currentColor;
        }

    body {
        background-color: #f7f7f9;
    }

    ul.list-group:after {
        clear: both;
        display: block;
        content: "";
        display: flex;
    }

    li i {
        float: right;
    }

    .modal-scroll {
        overflow-y: auto;
    }
</style>

<div class="container">
    <header class="text-center text-white">
        <h1 class="display-4">Livros Cadastrados</h1>
    </header>

    <div class="row " id="GridTable">
        <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
                <div class="table-responsive">
                    <table style="width:100%; height:100%" class="table table-striped table-bordered" id="gridBook">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Gênero</th>
                                <th scope="col">Indicação</th>
                                <th scope="col">Saga</th>
                                <th scope="col">Data da Criação</th>
                                <th scope="col">Livro Lido</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Excluir</th>
                                <th scope="col">Ler Livro</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("Register","Book")'" type="button">Cadastrar Novo Livros</button>




    <div id="modal" class=" modal fade modal-scroll ">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">Parabéns por Ler mais um Livros</h4>
                </div>
                <div class="  modal-over">
                    <form class="form-horizontal" name="form0" id="form0 " method="POST" enctype="multipart/form-data">
                        <div class="container-fluid panel no-margin-bottom">

                            <div class="row">
                                <div class="col-lg-12">
                                    <h1 class="page-header" style="color: #0A5E8A;">Dados do Livro</h1>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="IdBook">Código do Livro</label>
                                <div class="col-sm-6">
                                    <input value="" autofocus="false" class="form-control" id="txtIdBook" name="IdBook" type="text" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="Name">Nome do Livro</label>
                                <div class="col-sm-6">
                                    <input value="" autofocus="false" class="form-control" id="txtName" name="Name" type="text" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="Name">Resumo do Livro</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="txtResume" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="Name">Começo da Leitura</label>
                                <div class="col-sm-6">
                                    <input value="" autofocus="false" class="form-control" id="txtDateStart" name="Name" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="Name">Fim da Leitura</label>
                                <div class="col-sm-6">
                                    <input value="" autofocus="false" class="form-control" id="txtDateEnd" name="Name" type="text">
                                </div>
                            </div>


                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">


                <a class="btn btn-primary" data-dismiss="modal">Fechar</a>
                <input type="submit" onclick="AddBookRead()" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>






<script type="text/javascript">


    $(document).ready(function () {


        $("#txtDateStart").datepicker({

            yearRange: "-80:+0",
            changeYear: true,
            changeMonth: true,
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        }).on('focus', $(this), function () {

            $(this).mask('99/99/9999');
        });

        $('#txtDateStart').datepicker('setDate', -15);

        $("#txtDateEnd").datepicker({

            yearRange: "-80:+0",
            changeYear: true,
            changeMonth: true,
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        }).on('focus', $(this), function () {

            $(this).mask('99/99/9999');
        });

        $('#txtDateEnd').datepicker('setDate', new Date());


    var Book = {
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "Nenhum registro econtrando",
            "info": "Monstrando página _PAGE_ de _PAGES_ </br> Total: _MAX_",
            "infoEmpty": "Não foram encontrados registros",
            "infoFiltered": "(Filtro realizado em _MAX_ total usuários)",
            "search": "Pesquisar",
            "paging": "false",
            "order": [[1, "asc"]],
            "searching": "false",
            "bDestroy": "true",
            "oPaginate": {
                "sFirst": "Primeira página",
                "sPrevious": "<<",
                "sNext": ">>",
                "sLast": "Última página"
            }
        }
    };

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetBook", "Book")',
            //data: { dataIni: drp.startDate.format('DD/MM/YYYY'), dataFim: drp.endDate.format('DD/MM/YYYY') },
            dataType: "json",
            success: function (dados) {

                var cont = 0;

                var dtable = $("#gridBook");

                dtable.dataTable().fnClearTable();
                dtable.dataTable().fnDestroy();


                $.each(dados, function (i, item) {

                    var cols = "";
                    cols += "<td id='IdBook" + cont + "'>" + item.Id + "</td>";
                    cols += "<td id='Name" + cont + "'>" + item.BkName + "</td>";
                    cols += "<td id='AutName" + cont + "'>" + item.AutName + "</td>";
                    cols += "<td id='GenName" + cont + "'>" + item.GenName + "</td>";
                    cols += "<td id='BkIndication" + cont + "'>" + item.BkIndication + "</td>";
                    cols += "<td id='BkSaga" + cont + "'>" + item.BkSaga + "</td>";
                    cols += "<td id='BkDate" + cont + "'>" + item.BkDate + "</td>";

                    if (item.BkFlag == 1) {
                        cols +=  '<td><input type="checkbox" checked /></td>'
                    } else {
                        cols += '<td><input type="checkbox"/></td>'
                    }
                    cols += '<td id="Modelo' + cont + '">' + '<a href="#" onclick="Open(IdBook' + cont + ',Name' + cont + ')"  style="color:black;"><i class="glyphicon glyphicon-pencil"></i></a></td>';
                    cols += '<td id="Modelo' + cont + '">' + '<a href="#" onclick="Remove(IdBook' + cont + ')"  style="color:black;"><i class="glyphicon glyphicon-remove"></i></a></td>';
                    cols += '<td id="Modelo' + cont + '">' + '<a href="#" onclick="Abrir(IdBook' + cont + ',Name' + cont + ')"  style="color:black;"><i class="glyphicon glyphicon-ok"></i></a></td>';

                    dtable.find('tbody')
                        .append($('<tr>')
                            .append($(cols)));


                    cont++;


                });

                dtable.dataTable(Book);
            }
        });

    });



    function Open(idBook,name) {

        $('#txtIdBook').val(idBook.textContent);
        $('#txtName').val(name.textContent);

        $("#modal").modal({
            backdrop: 'static'
        }, 'show');


    };

    function AddBookRead() {
        var id = $('#txtIdBook').val();
        var resume = $('#txtResume').val();
        var dateStart = $('#txtDateStart').val();
        var dateEnd = $('#txtDateEnd').val();

         $.ajax({
            type: "POST",
            url: '@Url.Action("AddBookRead", "Book")',
             data: {
                 id: id,
                 resume: resume,
                 start: dateStart,
                 end: dateEnd
             },
            dataType: "json",
            success: function (dados) {


            }
        });
    }

    function Remove(idBook) {
        
         $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveBook", "Book")',
             data: {
                 id: idBook.textContent,
             },
            dataType: "json",
            success: function (dados) {


            }
        });
    }


</script>
